@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.section-slider{
    margin-top: 220px;
}

.slider-container-images{
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.slick-center{
    transform: scale(1.05);
}

.slider-container-images:active, .slider-container-images:focus{
    
}

.center-slider{
    height: 450px;
}

.center-slider:active, .center-slider:focus {
    
}

.container-all-images{
    
}

.container-all-images:active, .container-all-images:focus{
    outline: none !important;
    border: none !important;
    -moz-outline-style: none !important;
}

.modal-position{
    top:0;
    position: fixed;
    z-index: 12;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgba(102, 102, 102, 0.8);
}

.body-modal{
    width: 720px;
    height: 390px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container-right-modal{
    flex: 1;
    margin: 20px;
}

.container-left-modal{
    flex: 2;
}

.container-image-modal{
    height: 390px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
}