.banner{
    background-color: #4476d4;
    height: 640px;
}

.banner-title{
    margin: 0;
    text-align: center;
    padding-top: 115px;
    text-transform: uppercase;
    color: #fceaea;
    font-family: "Roboto-Bold";
    font-size: 40px;
}

.banner-title span{
    font-size: 21px;
}

.banner img{
    width: 800px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -150px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}