.banner{
    height: 640px;
    position: relative;
    background: linear-gradient(151deg, rgba(35,69,132,1) 0%, rgba(85,144,255,1) 100%);
}

.banner-title{
    margin: 0;
    text-align: center;
    padding-top: 115px;
    text-transform: uppercase;
    color: #fceaea;
    font-family: "Roboto-Bold";
    font-size: 40px;
}

.banner-title span{
    font-size: 21px;
}

.main-img-banner{
    width: 900px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -110px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.wave{
    position: absolute;
    width: 100%;
    bottom: -10px;
}

@media (max-width: 900px) {
    .banner{
        height: 550px;
    }
    .main-img-banner{
        width: 80%;
    }
    .wave{
        bottom: -7px;
    }
}

@media (max-width: 700px) {
    .banner{
        height: 500px;
    }
    .main-img-banner{
        width: 90%;
    }
    .wave{
        bottom: -5px;
    }
}

@media (max-width: 550px) {
    .banner{
        height: 400px;
    }
    .main-img-banner{
        width: 90%;
    }
    .wave{
        bottom: -5px;
    }
}